body{
	height:100%;
	margin:0px;
	
	background:-moz-radial-gradient(center, #f0f0f0, #cccccc) no-repeat #cccccc;
	background:-webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#f0f0f0), to(#cccccc)) no-repeat #cccccc;
	
	/* Global text properties */
	color:#666666;
	font-family:'Open Sans', Arial Black, Gadget, sans-serif;
	letter-spacing:-0.03em;
}

.no-cssgradients body {
	/* Can't do radial gradients in IE and there doesn't seem to be a reliable fallback. */
	background-image:url('jpg/bgGradient.jpg');
}

h1,h2{
	font-weight:100;
	/*line-height:12px;*/
}

h1{
	font-size:36px;
}

h2{
	font-size:33px;
}

p{
	/*color:#666666;
	
	font-family:'Open Sans', Arial Black, Gadget, sans-serif;*/
	font-size:26px;
}

a:link{
	color:#666666;
}
a:visited{
	color:#666666;
}
a:hover{
	color:#993366;
}
a:active{
	color:#333333;
}

#header{
	width:100%;
	height:100px;
	border-spacing:0px;
	
	border-bottom-color:#FFFFFF;
	border-bottom-style:solid;
	border-bottom-width:3px;
}

#header h1{
	margin:0px;
}

/* Technique copied from soulwire.co.uk */
#header h1 a{
	background: url("svg/sillypog.svg") no-repeat scroll center center transparent;
	display: block;
	text-indent: -999px; /* Text in anchor is only used for search? */
	height: 100px;
	width: 450px;
	position:absolute;
	top:0px;
}

/* IE doesn't handle SVG so use modernizr to use a png instead. Other properties are the same. */
.no-svg #header h1 a{
	background: url("png/sillypog.png") no-repeat scroll center center transparent;
}

#footer{
	width:100%;
	height:40px;
		
	border-top-color:#FFFFFF;
	border-top-style:solid;
	border-top-width:3px;	
	
	position:absolute;
	bottom:0px;
}



#footerButtons{
	width:100%;
	position:absolute;
	bottom:0px;
}

#footerButtons a{
	text-decoration:none;
}

#footerButtons p{
	float:left;
	margin:0px 0px 2px 50px;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#footerButtons #email{
	float:right;
	margin-right:50px;
}

.paleWhiteBG{
	width:100%;
	height:100%;
	background: #FFFFFF;
	opacity:0.3;
	filter:alpha(opacity=30)";	/*IE shows as no-opacity in modernizr but this gets round it*/
}

